version: '3'
services:
  proxy-movile:
    build: ./1d_ag_rp
    image: sae_proxy_movile
    container_name: sae_ag_rp
    restart: always
    tty: true
    stdin_open: true
    ports:
      - "5000:80"
    networks:
      nodes-networks:
        aliases:
          - sae_reverse_proxy_movile
          
  proxy-web:
    build: ./1d_wa_rp
    image: sae_proxy_web
    container_name: sae_wa_rp
    restart: always
    tty: true
    stdin_open: true
    ports:
      - "5001:433"
    networks:
      nodes-networks:
        aliases:
          - sae_reverse_proxy_web
          
  proxy-interfaz:
    build: ./1d_int_rp
    image: sae_proxy_interfaz
    container_name: sae_int_rp
    restart: always
    tty: true
    stdin_open: true
    ports:
      - "5002:80"
    networks:
      nodes-networks:
        aliases:
          - sae_reverse_proxy_interfaz

networks:
  nodes-networks:
    external: true
